{% extends 'base.html' %}
{% load static %}
{% load coins_tags %}

{% block content %}
<div class="content">

    <!-- Start filtering -->
    <div class="filter" style="justify-content: space-between;">
        <!-- Search -->
        <form action="{% url 'coinList:search' %}" method="get" class="d-flex" role="search">
            <input class="form-control me-2" type="search" id="coin-search" name="q" placeholder="Search coin by name..." aria-label="Search">
            <button class="btn btn-outline-success text-white" type="submit">Search</button>
        </form>


        <div class="form_exchange">
            <form action="" method="get">
                <select id="exchange-selector" name="exchange" class="form-select mr-2" required>
                    <option value="MEXC" {% if request.GET.exchange == "MEXC" %}selected{% endif %}>MEXC</option>
                    <option value="Binance" {% if request.GET.exchange == "Binance" %}selected{% endif %}>BINANCE</option>
                </select>
                <button type="submit" class="btn btn-primary" style="margin-left: 10px">Apply</button>
            </form>
        </div>

        <!-- Coin manipulation -->
        <!-- Кнопка для відкриття модального вікна -->
        {% if user.is_authenticated %}
        	{% if user.is_superuser %}
                <button id="openModalBtnAdmin" class="btn btn-outline-success text-white">+ Add Admin Coin</button>
        	{% else %}
                <button id="openModalBtn" class="btn btn-outline-success text-white">+ Add Custom Coin</button>
            {% endif %}
        {% endif %} 

        <!-- Модальне вікно -->
        <!-- Add coin -->
        <div id="customCoinModal" class="modal">
            <div class="modal-content">
                <span class="close-btn" id="closeModalBtn">&times;</span>
                <form id="customCoinForm">
                    <div class="row" style="display: flex; flex-direction: column; justify-content: center; margin: 0 auto">
                        <div>
                            <select id="coin-market" name="market" class="form-select" required>
{#                                <option value="" disabled selected>Select market</option>#}
                                <option value="MEXC">MEXC</option>
                                <option value="BINANCE">BINANCE</option>
                            </select>
                        </div>
                        <div >
                            <input type="text" class="add_coin_input" id="symbol" name="symbol" placeholder="Enter symbol" required>
                            <span class="tooltip-icon" title="The unique symbol used to search for the coin's data.">ⓘ</span>
                        </div>
                        <div >
                            <input type="text" class="add_coin_input"  id="coin-name" name="coin-name" placeholder="Enter coin name" required >
                            <span class="tooltip-icon" title="If you skip this field, the name will be replaced by the symbol.">ⓘ</span>
                        </div>
                    </div>

                    <button type="button" id="testButton" class="btn btn-primary">Test</button>
                    <button type="button" id="addButton" class="btn btn-success" disabled>Add</button>
                    <p id="statusMessage" style="display: none;"></p>
                </form>
            </div>
        </div>
    </div>
    <!-- End filtering -->

    <div class="crypto-list">
        <!-- header start -->
        <div class="list_header">
            <div class="list_header_item" style="max-width: 30px">
                <span class="tooltip-icon" title="№ by market capitalization">№</span></div>
            <div class="list_header_item" style="flex: 3">Name</div>
            <div class="list_header_item" style="flex: 2">
                <div  style="cursor: pointer">Price <span onclick="toggleSortOrder()">&#x25b4;&#x25be;</span></div>
            </div>
            <div class="list_header_item" style="flex: 2">Volume</div>
            <div class="list_header_item" style="flex: 2">24h Change</div>
        </div>
        <!-- header end -->

        <!-- content coin start -->
        <div class="coin_wrapper" style="display:flex; flex-direction: column; height: 100%;">
            {% for coin in coins %}
            <div class="coin_item_wrapper" onclick="window.location.href=`{% url 'coins:coin' coin_slug=coin.slug  %}?exchange=${exchange}`">
                <div class="coin_item" data-symbol="{{ coin.symbol }}">
                    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                    <button class="favorite-btn" data-coin-id="{{ coin.symbol }}">
                        <span class="{% if coin.symbol in request.user.favorite_coins_id %}favorited{% else %}not-favorited{% endif %}">
                            ★
                        </span>
                    </button>
                    <div class="coin index">{{ forloop.counter }}</div>
                    <div class="coin name">
                        {% if coin.image %}
                            <img src="/{{ coin.image }}" alt="logo" class="coin_logo">
                        {% else %}
                            <img src="{% static 'deps/images/Not found image.png' %}" alt="logo" class="coin_logo">
                        {% endif %}
                        <span class="coin_symbol">{{ coin.symbol|upper }}</span>
{#                        {% if coin.isCustom %}#}
{#                            <span>Custom</span>#}
{#                        {% endif %}#}
                    </div>

                    <div class="coin price">{{ coin.price|floatformat:2 }}</div>
                    <div class="coin volume">{{ coin.volume|floatformat:2 }}</div>
                    <div class="coin change">
                        {% if  coin.change > 0 %}
                            <span class="positive">▲ {{  coin.change|floatformat:2 }}%</span>
                            {% else %}
                            <span class="negative">▼ {{  coin.change|floatformat:2 }}%</span>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
         <!-- content coin end -->
    </div>
</div>
{% endblock %}



{% block scripts %}
    <script src="{% static 'deps/js/main_2.js' %}"></script>
    <script src="{% static 'deps/js/sorting.js' %}"></script>
    <script src="{% static 'deps/js/coins_interaction.js' %}"></script>
{% endblock %}
