body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-attachment: fixed;
    background-size: cover;
    background-color:  #A9B9C8 !important;
}

header {
    display: flex;
    align-items: center;
    padding: 16px;
    background-color: #3a3939;
    color: white;
}
ul{
    margin-top: 0;
    margin-bottom: 0 !important;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100%;

}

.content {
    margin: 0 auto;
    height: 100%;
    max-width: 1400px;
}
h1 {
    margin: 0;
}
footer{
    position: fixed;
    bottom: 0;
    height: 10vh;
    width: 100%;
    background-color: #3a3939;
}
.coin_wrapper{
    width: 100%;
    height: 100%;
    border-radius: 10px;

}
.row .justify-content-center{
    width: 100%;
    margin: 0 !important;
}
.log-in-btn {
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 12px;
    padding: 8px ;
}
.crypto-list {
    max-width: 94%;
    margin: 0 auto 20px auto;
}
.nav-item.dropdown{
    text-align: end;
}

.list_header {
    display: flex;
    background-color: #333;
    padding: 14px;
    color: white;
    border-radius: 20px 20px 0 0;
    font-size: 22px;
}
.list_header_item {
    flex: 2;
    text-align: left;
    padding-left: 8px;
}
.coin_item {
    display: flex;
    padding: 8px 8px 8px 24px;
    align-items: center;
    background-color: #1c1c1c;
    color: white;
    cursor: pointer;
    transition: background-color 0.2s ease;
}
.coin_item:hover {
    background-color: #3a3a3a;
}
.coin {
    display: flex;
    align-items: center;
    overflow: hidden;
}
.coin_logo {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.coin_symbol {
    display: inline-block;
}
.coin.price, .coin.volume, .coin.market_cap {
    text-align: right;
}
.coin.change {
    text-align: right;
}
.coin.change .positive {
    color: #00ff00;
}
.coin.change .negative {
    color: #ff0000;
}
.coin.actions {
    display: flex;
    justify-content: space-around;
}
.coin_item .coin.name {
    flex: 3;
    min-width: 0;
}
.coin_item .coin.price,
.coin_item .coin.change,
.coin_item .coin.volume,
.coin_item .coin.market_cap{
    flex: 2;
    min-width: 0; /* Avoids exceeding the container */
    overflow: hidden; /* Hides overflow */
    text-overflow: ellipsis; /* Adds ellipsis if text is too long */
}
.filter, .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 100px;
    width: 100%;
}
.pagination{
    bottom: calc(10px);
    padding: 0;
}
#coin-search {
    padding: 10px;
    margin-right: 10px;
    width: 200px;
}
#filter-options {
    padding: 10px;
    margin-right: 5px;

}

.pagination button {
    padding: 5px 15px;
    margin: 0 5px;
}
.btn.btn-outline-success.text-white {
    border-radius: 12px;
    width: 120px;
}
#profile-page {
    background-color: #fff;
    width: 60%;
    margin: 40px auto;
    padding: 30px;
    border: 1px solid #ccc;
}

#profile-form div {
    margin-bottom: 15px;
}

#profile-form label {
    display: block;
    margin-bottom: 5px;
}

#profile-form input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button[type="submit"] {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    display: block;
    width: calc(100% - 32px);
}
.dropdown-menu{
    width: 200px;
}

.dropdown-toggle::after {
  content: none;
}
.dropdown-item:focus, .dropdown-item:hover {
    background-color: #2b2f32 !important;
}
.coin_interaction button{
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.coin_interaction button:hover{
    background-color: #0056b3;
}
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 72%;
  /*height: 100%;*/
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modal-content {
    background-color: white;
    /*padding: 20px;*/
    border-radius: 4px;
    text-align: center;
    width: 40% !important;
    box-sizing: border-box;
    padding: 24px;
    justify-content: center;
    margin: 20vh auto 0 auto;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    width: 32px;
    height: 27px;

}
.test-btn{
    width: 100px !important;

}
.modal-content{
    max-width: 400px;
}
.add_coin_input{
    width: 80%;
    max-width: 200px;
}
.form-select{
    margin: 0 auto;
    width: 85%;
    max-width: 250px;
}
.index{
    width: 16px;
}
#customCoinForm div div{
    margin: 12px 0 !important;
}
#customCoinForm button{
    width: 100px;
    border-radius: 20px;
    margin-right: 10px;
    margin-bottom: 8px;
}
#openModalBtn{
    height: 45px ;
}

#openModalBtn, .log-in-btn, #openModalBtnAdmin{
    background-color: #007BFF !important;
    width: 175px;
    height: 45px ;
}
#openModalBtn:hover, .log-in-btn:hover, #openModalBtnAdmin:hover{
    color: var(--bs-btn-hover-color) !important;
    background-color: var(--bs-btn-hover-bg) !important;
    border-color: var(--bs-btn-hover-border-color) !important;
}
@media (min-width: 992px) {
    .container {
        max-width: none !important;
    }
}
