{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block css %}
    <link rel="stylesheet" href="{% static 'deps/css/coin.css' %}">
     <style>
        canvas {
            display: block;
            margin: 50px auto;
            padding-top: 5vh ;
        }
    </style>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
{% endblock %}

{% block content %}
	<div class="row">
        <div class="coin_info">
            <div>
                <div class="coin-name-logo">
                    <div class="coin_logo">
                         {% if coin.image %}
                            <img src="/{{ coin.image }}" alt="coin_logo">
                        {% else %}
                            <img src="{% static 'deps/images/Not found image.png' %}" alt="coin_logo">
                        {% endif %}
                    </div>
                    <div>
{#                        <div class="coin_name" id="coin-name">{{ coin.name|capfirst }}</div>#}
                        <div class="coin_name" id="coin-name">{{ coin.name }}</div>
                        <div>Price: $<span class="market_info_green">{{ coin_info.openPrice|floatformat:4|intcomma }}</span></div>
                    </div>
                </div>

                <div class="market-info">
                    <div class="market_container">
                        <div class="market-info-item"><b>Change</b></div>
                        {% if '-' not in coin_info.priceChangePercent %}
                            <div class="market-info-item positive">{{ coin_info.priceChange|floatformat:4|intcomma }} (USDT)</div>
                            <div class="market-info-item positive">{{ coin_info.priceChangePercent|floatformat:4|intcomma }} (%)</div>
                        {% else %}
                            <div class="market-info-item negative">{{ coin_info.priceChange|floatformat:4|intcomma }} (USDT)</div>
                            <div class="market-info-item negative">{{ coin_info.priceChangePercent|floatformat:4|intcomma }} (%)</div>
                        {% endif %}
                    </div>
                    <div class="market_container">
                        <div class="market-info-item"><b>Min/Max</b></div>
                        <div class="market-info-item">{{ coin_info.highPrice|floatformat:4|intcomma }}</div>
                        <div class="market-info-item">{{ coin_info.lowPrice|floatformat:4|intcomma }}</div>
                    </div>
                    <div class="market_container">
                        <div class="market-info-item"><b>Volume</b></div>
                        <div class="market-info-item">{{ coin_info.volume|floatformat:4|intcomma }} ({{ coin.symbol }})</div>
                        <div class="market-info-item">{{ coin_info.quoteVolume|floatformat:4|intcomma }} (USDT)</div>
                    </div>
                </div>
            </div>
            <div class="coin-edit">
                <div class="form_exchange">
                    <p>Select exchange to see data from the specified exchange </p>
                    <form action="" method="get">
                        <select id="exchange-selector" name="exchange" class="form-select mr-2" required>
                            <option value="MEXC" {% if request.GET.exchange == "MEXC" %}selected{% endif %} class="exchange">MEXC</option>
                            <option value="Binance" {% if request.GET.exchange == "Binance" %}selected{% endif %} class="exchange">BINANCE</option>
                        </select>
                        <button type="submit" class="btn btn-primary" style="margin-left: 10px">Apply</button>
                    </form>
                </div>
                <div class="coin-actions">
                    {% if is_custom %}
                        <!-- Actions for custom coins -->
                        <button id="editCustomCoinBtn" class="btn btn-outline-success text-white">Edit Custom Coin</button>
                    {% else %}
                        {% if is_admin_user %}
                            <button id="editDefaultCoinBtn" class="btn btn-outline-success text-white">Edit Default Coin</button>
                        {% endif %}
                    {% endif %}
                </div>

                {#  <button id="openModalBtn" class="btn btn-outline-success text-white">Edit Coin</button> #}
                <!-- Add coin -->
                <div id="customCoinModal" class="modal">
                    <div class="modal-edit">
                        <div class="coin-modal-header-container">
                           <h3 class="text-center mb-4 coin-modal-header">Coin details</h3>
                           <span class="close-btn" id="closeModalBtn">&times;</span>
                        </div>
                        <form id="customCoinForm"  method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="row" style="display: flex; flex-direction: column; justify-content: center; margin: 0 auto">
                                <div style="text-align: center">
                                    {% if coin.image %}
                                        <img src="/{{ coin.image }}" alt="coin_image" class="img-fluid rounded-circle mb-1" id="image" style="max-width: 128px;">
                                    {% else %}
                                        <img src="{% static 'deps/images/Not found image.png' %}" alt="logo" class="img-fluid rounded-circle mb-1" id="image" style="max-width: 128px;">
                                    {% endif %}
                                    <input type="file" class="form-control" name="image" accept="image/*">

                                    {% if form.image.errors %}
                                        <div class="alert alert-danger alert-dismissible fade show">{{ form.image.error }}</div>
                                    {% endif %}
                                </div>
                                <div>
                                    <label for="symbol" class="form-label">Symbol</label>
                                    <input type="text" class="form-control" id="symbol"
                                        name="symbol"
                                        value="{{ coin.symbol }}" disabled>
                                    {# hidden fields for backend #}
                                    <input type="hidden" id="symbol" name="symbol" value="{{ coin.symbol }}">
                                    {% if form.symbol.error %}
                                        <div class="alert alert-danger alert-dismissible fade show">{{ form.symbol.error }}</div>
                                    {% endif %}
                                </div>
                                <div>
                                    <label for="name" class="form-label">Name</label>
                                    <input type="text" class="form-control" id="name"
                                        name="name"
                                        value="{{ coin.name }}"
                                        placeholder="Ender new coin name">
                                    {% if form.name.error %}
                                        <div class="alert alert-danger alert-dismissible fade show">{{ form.name.error }}</div>
                                    {% endif %}
                                </div>
                                <div>
                                   <div>
                                        <label for="is_custom" class="form-label">Custom Coin</label>
                                        <input type="radio" id="is_custom" name="is_custom" {% if is_custom %}checked{% endif %} disabled>
                                   </div>
                                    <div>
                                        <label for="is_default" class="form-label">Default Coin</label>
                                        <input type="radio" id="is_default" name="is_custom" {% if not is_custom %}checked{% endif %} disabled>
                                    </div>
{#                                     hidden field for send data to backend #}
                                    <input type="hidden" name="is_custom" value="{% if is_custom %}true{% else %}false{% endif %}">
                                </div>
                            </div>

                           <div class="d-flex justify-content-evenly mt-3">
                                <button type="button" id="applyChanges" class="btn btn-outline-primary">
                                    <i class="fas fa-check-circle"></i> Apply
                                </button>
                                <button type="submit" id="deleteCoin" class="btn btn-outline-danger">
                                    <i class=""></i> Delete
                                </button>
                            </div>
                            <p id="statusMessage" style="display: none;text-align: center"></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="graphics"  >
            {# Interval from for global chart. Using js  #}
            <form id="radio-form">
                 <div class="custom-control custom-radio">
                    <input type="radio" id="radio60m" class="custom-control-input" name="radioChart" value="60m">
                    <label class="custom-control-label  text-white" for="radio60m">1h</label>
                 </div>
                 <div class="custom-control custom-radio">
                    <input type="radio" id="radio4h" class="custom-control-input" name="radioChart" value="4h" checked>
                    <label class="custom-control-label  text-white" for="radio4h">4h</label>
                 </div>
                 <div class="custom-control custom-radio">
                    <input type="radio" id="radio1d" class="custom-control-input" name="radioChart" value="1d">
                    <label class="custom-control-label  text-white" for="radio1d">1d</label>
                 </div>
                 <div class="custom-control custom-radio">
                    <input type="radio" id="radio1W" class="custom-control-input" name="radioChart" value="1W">
                    <label class="custom-control-label  text-white" for="radio1W">1W</label>
                 </div>
                 <div class="custom-control custom-radio">
                    <input type="radio" id="radio1M" class="custom-control-input" name="radioChart" value="1M">
                    <label class="custom-control-label  text-white" for="radio1M">1M</label>
                 </div>
            </form>
           <div style="display: flex; justify-content: center; align-items: center;">
                <canvas id="chart" style="margin: 0 auto"></canvas>
           </div>
        </div>

{#            <div style="background-color:#ffffff; width: 80%; margin: 0 auto; border-radius: 16px ">#}
{#                <h1 style="text-align: center">Comaring exchanges</h1>#}
{#            </div>#}
            <div class="live_charts">
                    <canvas id="chart_1" width="800" height="400"></canvas>
                    <canvas id="chart_2" width="800" height="400"></canvas>
            </div>

            <div class="exchange-info-container">
                <!-- Hardcoded Recent Trades Tables -->
                <div class="exchange-column">
                    <h3>MEXC</h3>
                    <div class="recent-trades">
                        <h4>Recent Trades - time period <span class="period-recent-trades"></span> seconds</h4>
                        <table class="trades-table" id="table-mexc">
                            <thead>
                                <tr>
                                    <th>Time</th>
                                    <th>AVG Price (USDT)</th>
                                    <th>Total Volume</th>
                                    <th>Trades</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="exchange-column">
                    <h3>Binance</h3>
                    <div class="recent-trades">
                        <h4>Recent Trades - time period <span class="period-recent-trades"></span> seconds</h4>
                        <table class="trades-table" id="table-binance">
                            <thead>
                                <tr>
                                    <th>Time</th>
                                    <th>AVG Price (USDT)</th>
                                    <th>Total Volume </th>
                                    <th>Trades</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!-- General Info for Exchanges -->
            <div class="exchange-info-container">
                {% for exchange in exchanges %}
                <div class="exchange-column">
{#                    <h3>{{ exchange.name|upper }}</h3>#}
                    <div class="general-info">
                        <h4>General Info 24h</h4>
                        {% if exchange.priceChangePercent > 0 %}
                            <div class="info-item">
                                <span class="label">24h Change Percent:</span>
                                <span class="value green">
                                    {{ exchange.priceChangePercent|floatformat:4|intcomma }}%
                                </span>
                            </div>
                            <div class="info-item">
                                <span class="label">24h Change:</span>
                                <span class="value green">
                                    {{ exchange.priceChange|floatformat:2|intcomma }} USDT
                                </span>
                            </div>
                        {% else %}
                              <div class="info-item">
                                <span class="label">24h Change Percent:</span>
                                <span class="value red">
                                    {{ exchange.priceChangePercent|floatformat:4|intcomma }}%
                                </span>
                            </div>
                            <div class="info-item">
                                <span class="label">24h Change:</span>
                                <span class="value red">
                                    {{ exchange.priceChange|floatformat:2|intcomma }} USDT
                                </span>
                            </div>
                        {% endif %}
                        <div class="info-item">
                            <span class="label">Min Price:</span>
                            <span class="value {% if exchange.priceChange < 0 %}red{% else %}green{% endif %}">
                                {{ exchange.lowPrice|floatformat:2|intcomma }}
                            </span>
                        </div>
                        <div class="info-item">
                            <span class="label">Max Price:</span>
                            <span class="value {% if exchange.priceChange < 0 %}red{% else %}green{% endif %}">
                                {{ exchange.highPrice|floatformat:2|intcomma }}
                            </span>
                        </div>
                        <div class="info-item">
                            <span class="label">Volume:</span>
                            <span class="value">{{ exchange.quoteVolume|floatformat:2|intcomma }} USDT</span>
                        </div>
                        <div class="info-item">
                            <span class="label">Volume (BTC):</span>
                            <span class="value">{{ exchange.volume|floatformat:2|intcomma }}</span>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
    </div>

{% endblock %}

{% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/luxon@3.4.4"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.1/dist/chart.umd.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon@1.3.1"></script>
    <script src="https://hammerjs.github.io/dist/hammer.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom/dist/chartjs-plugin-zoom.min.js"></script>

    <script src="{% static 'deps/js/chartjs-chart-financial.min.js' %}" type="text/javascript"></script>

    <script src="{% static 'deps/js/coin.js' %}"></script>
{#    <script src="{% static 'deps/js/order-book.js' %}"></script>#}

{% endblock %}